.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 410px;
}

.day-title {
  text-align: left;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.day-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  padding: 10;
  border: lightblue;
  border-width: 1px;
  margin-top: 10px;
}

.pickers .actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
}





